@model IEnumerable<ReviewsSite.Models.Park>


<h1>Parks</h1>

<p>@ViewBag.Result</p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Park Number
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                @*<td>
                    <a href="/Park/Edit/@item.Id">Edit</a>
                </td>*@
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Detail" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
<a href="/Park/Create">Create New</a>
